/* Reference Variables */
:root {
    --bg-primary-color: #1F2937;
    --hero-primary-color: #F9FAF8;
    --hero-secondary-color: #E5E7EB;
    --accent-primary-color:#3882F6;
    --default-padding-value: 180px;
}

/* Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body > * {
    padding-left: var(--default-padding-value);
    padding-right: var(--default-padding-value);
}

/* Header Styling */
header {
    height: 72px;
    gap: 16px;
    display: flex;
    align-items: center;
    background-color: var(--bg-primary-color);
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: var(--hero-primary-color);
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: var(--hero-secondary-color);
}

/* Hero Banner Styling */
.hero-banner {
    padding-top: 64px;
    padding-bottom: 128px;
    gap: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary-color);
}

.hero-banner section {
    display: column;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: var(--hero-primary-color);
}

.hero-sub {
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--hero-secondary-color);
}

button {
    padding: 6px 32px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--hero-primary-color);
    background-color: var(--accent-primary-color);
}

.hero-banner img {
    flex: 1 0 500px;
    text-align: center;
    color: var(--hero-secondary-color);
    background-color: grey;
}

/* Carousel Styling */
.carousel {
    padding-top: 48px;
    padding-bottom: 128px;
}

.info {
    margin-bottom: 48px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: var(--bg-primary-color);
}

.carousel div {
    gap: 48px;
    display: flex;
    justify-content: center;
}

.carousel figure {
    flex-basis: 128px;
}

.carousel img {
    width: 150px;
    height: 150px;
    border: 4px var(--accent-primary-color) solid;
    border-radius: 16px;
}

.carousel figcaption {
    text-align: center;
    color: var(--bg-primary-color);
}

/* Testimonial Styling */
.testimonial {
    padding: 128px 256px;
    background-color: var(--hero-secondary-color);
}

.testimonial blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: var(--bg-primary-color)
}

.testimonial p {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: var(--bg-primary-color);
}

/* Call to Action Styling */
.white-bg {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--hero-primary-color);
}

.call-to-action {
    padding: 32px 96px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-primary-color);
}

.call-to-action h3 {
    font-size: 20px;
    color: var(--hero-primary-color);
}

.call-to-action p {
    margin-top: 2px;
    color: var(--hero-secondary-color);
}

.call-to-action button {
    border: 2px var(--hero-primary-color) solid;
}

/* Footer Styling */
footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary-color);
    color: var(--hero-secondary-color);
}