/* Reference Variables */
:root {
    --bg-primary-color: #1F2937;
    --hero-primary-color: #F9FAF8;
    --hero-secondary-color: #E5E7EB;
    --accent-primary-color:#3882F6;
    --default-padding-value: 180px;
}

/* Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body > * {
    padding-left: var(--default-padding-value);
    padding-right: var(--default-padding-value);
}

/* Header Styling */
header {
    height: 72px;
    gap: 16px;
    display: flex;
    align-items: center;
    background-color: var(--bg-primary-color);
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: var(--hero-primary-color);
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: var(--hero-secondary-color);
}

/* Hero Banner Styling */
.hero-banner {
    padding-top: 64px;
    padding-bottom: 128px;
    gap: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary-color);
}

.hero-banner section {
    display: column;
}

.hero-main {
    font-size: 48px;
    color: var(--hero-primary-color);
}

.hero-sub {
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--hero-secondary-color);
}

button {
    padding: 6px 32px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--hero-primary-color);
    background-color: var(--accent-primary-color);
}

.hero-banner img {
    flex: 1 0 500px;
    text-align: center;
    color: var(--hero-secondary-color);
    background-color: grey;
}

/* Footer Styling */
footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary-color);
    color: var(--hero-secondary-color);
}